<h1><%=$player_1.name %> & <%=$player_2.name%></h1>
<h2><%=$player_1.name %> HP: <%=$player_1.hp%> // <%=$player_2.name%> HP: <%=$player_2.hp%></h2>

<form action="/player_1_attack">
  <input type="submit" value="Player 1 Attack">
</form>

<form action="/player_2_attack">
  <input type="submit" value="Player 2 Attack">
</form>
